@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LTMuseum';
  src: url('../fonts/LTMuseum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'navlogo';
  src: url('../fonts/diplomata.ttf') format('truetype');
  font-weight: bold;
  font-style:normal;
}

@font-face {
  font-family: 'heroText';
  src: url('../fonts/DiplomataSC-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style:normal;
}


@font-face {
  font-family: 'QTGaromand';
  src: url('../fonts/QTGaromand-Bold.otf') format('truetype');
  font-weight: bold;
  font-style:normal;
}

:root {
  --color-royal-blue: #003366;
  --color-deep-burgundy: #800020;
  --color-gold: #ffd700;
  --color-off-white: #f8f8f8;
  --color-light-gray: #d3d3d3;
}

@layer base {
  body {
    @apply bg-off-white text-royal-blue;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

@layer components {
  .btn-primary {
    @apply bg-royal-blue text-off-white px-6 py-3 rounded-full font-semibold transition-all duration-300 hover:bg-deep-burgundy hover:shadow-lg;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.animate-spin-slow {
  animation: spin 3s linear infinite; /* Adjust the duration here */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-rounded {
  border-radius: 8px; /* Adjust the value as needed */
}